[Unit]
Description=Display colour temperature adjustment
PartOf=graphical-session.target
After=graphical-session.target
Requires=graphical-session.target
StartLimitBurst=10
StartLimitIntervalSec=30s

[Service]
ExecStart=/usr/bin/gammastep -c ~/.config/gammastep/gammastep.config
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=graphical-session.target
